<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span2">
    <section>
     <h2>
		<%= @user.name %> 
	</h2> 
	</section>
</aside>
 <div class="span8">
	<% if @user.tasks.any? %>
      <h4>Tasks (<%= @user.tasks.count %>)</h4>
      <ol class="Tasks">
        <%= render @user.tasks %>
      </ol>
    <% end %>
  </div>
</div>