<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span2">
    <section>
     <h2>
		<%= @user.name %> 
	</h2> 
	</section>
</aside>
 <div class="span8" id = "task">
	<%= render partial: 'shared/task' %>
	
  </div>
</div>
