<li id="<%= task_feed_item.id %>">
  
 
  <span class="task_name"><%= task_feed_item.task_name %></span><br>
  <span class="task_category">
    Category: <%= task_feed_item.task_category %> ||
  </span>
  <% if current_user? (task_feed_item.user) %>
  <%= link_to "Delete", task_feed_item, method: :delete, data: { confirm: "Are you sure?"}, title: task_feed_item.task_name, style: 'color:#0000FF;' %>
  <% end %>
</li>