<span>
<h2>
  <%= current_user.name %>
</h2>
</span>
<span>
  <%= link_to "View all Tasks", current_user, style: 'color:#0000FF;'%>
</span>
<span>
  <%= pluralize(current_user.tasks.count, "Task") %>
</span>